/*
*  CSS TABLE OF CONTENTS
*   
*  1.0 - Variables
*  2.0 - Reset
*  3.0 - Browser Styling
*  4.0 - Global
*  5.0 - Homepage
*  6.0 - Header
*  7.0 - Main Content
*     7.1 - Content List
*     7.2 - Pagination
*     7.3 - Main Article
*     7.4 - Highlighting Code Block Plugin Custom Styles
*     7.5 - Related Article
*     7.6 - Contact Page
*     7.7 - 404 and Not Found
*  8.0 - Footer
*  9.0 - Responsive
*/

/**
	* 1.0 - Variables
*/
$color-01: #fc757d;
$color-02: #fc5c65;
$color-03: #eb3b5a;
$color-04: #e92447;
$color-05: #36454f;
$color-06: #2c3840;
$color-07: #212b31;
$color-08: #f0f0f0;
$color-09: #d0d0d0;
$color-10: #7f7f7f;
$font-roboto: 'Roboto', sans-serif;



/**
	* 2.0 - Variables
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

ul,
ol {
	list-style: none;
	margin-block-end: 0;
	margin-block-start: 0;
	padding-inline-start: 0;
}

li {
	list-style: none;
}

html:focus-within {
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.25;
}

a {
	text-decoration: none;
	text-decoration-skip-ink: auto;
}

img,
picture {
	max-width: 100%;
	display: block;
}

input,
button,
textarea,
select {
	font: inherit;
}

@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
