:root {
	--color-a-1: #fc5c65;
	--color-a-2: #eb3b5a;
	--color-a-3: #fc757d;
	--color-a-4: #e92447;
	--color-b-1: #36454f;
	--color-b-2: #2c3840;
	--color-b-3: #212b31;
	--color-c-1: #dedede;
	--color-c-2: #ffffff;
}

::-webkit-scrollbar {
	height: 10px;
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: var(--color-b-2);
}

::-webkit-scrollbar-thumb {
	background-color: var(--color-a-1);
	border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--color-a-2);
}

body {
	font-family: 'Rubik', sans-serif;
}

.wa-input[type=text] {
	margin-right: .5rem;
	max-width: 25rem;
	width: 100%;
}

.wa-input[type=text]:focus {
	border-color: var(--color-a-2);
	box-shadow: 0 0 0 1px var(--color-a-2);
}