:root {
	--color-1: #a318b6;
	--color-2: #8f159f;
	--color-3: #7b1289;
	--color-4: #660f72;
	--color-5: #36454f;
	--color-6: #2c3840;
	--color-7: #212b31;
	--color-8: #dedede;
	--color-9: #f0f0f0;
}

::-webkit-scrollbar {
	height: 12px;
	width: 12px;
}

::-webkit-scrollbar-track {
	background-color: var(--color-7);
}

::-webkit-scrollbar-thumb {
	background-color: var(--color-1);
	border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--color-2);
}

body {
	font-family: 'Roboto', sans-serif;
}

.wa-input[type=text] {
	margin-right: .5rem;
	max-width: 25rem;
	width: 100%;
}

.wa-input[type=text]:focus {
	border-color: var(--color-2);
	box-shadow: 0 0 0 1px var(--color-2);
}