:focus {
	box-shadow: none !important;
}

.clear {
	display: none;
}

body.login {
	align-items: center;
	background-color: #212b31;
	background-image: repeating-linear-gradient(45deg, #212b31 25%, transparent 25%, transparent 75%, #212b31 75%, #212b31), repeating-linear-gradient(45deg, #212b31 25%, #2c3840 25%, #2c3840 75%, #212b31 75%, #212b31);
	background-position: 0 0, 4px 4px;
	background-size: 8px 8px;
	display: flex;
	font-family: "Roboto", sans-serif;
	justify-content: center;
}

#login {
	display: grid;
	gap: 0.5rem;
	padding: 0.25rem 0;
	max-width: 340px;
	width: 100%;
}
#login h1 {
	display: none;
}

#loginform,
#registerform,
#lostpasswordform,
#resetpassform {
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	backdrop-filter: blur(16px) saturate(180%);
	background-color: rgba(17, 25, 40, 0.65);
	border: 0;
	border-radius: 0.5rem;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: space-between;
	margin: 0 !important;
	padding: 1rem !important;
}

#loginform label,
#registerform label,
#reg_passmail,
#lostpasswordform label,
#resetpassform label,
#resetpassform .description {
	color: #f0f0f0;
	font-size: 1rem;
	margin-bottom: 0.5rem !important;
}

#user_login,
#user_pass,
#rememberme,
#user_email,
#pass1 {
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	backdrop-filter: blur(16px) saturate(180%);
	background-color: rgba(77, 92, 120, 0.65) !important;
	color: #f0f0f0 !important;
	border: 0 !important;
	margin: 0;
}

:is(#user_login, #user_pass, #rememberme, #user_email, #pass1):focus {
	border-color: #fc5c65;
	box-shadow: 0 0 0 0.125rem #fc5c65 !important;
}

.dashicons {
	color: #212b31;
}

.login #pass-strength-result {
	border-radius: 50rem;
	margin-top: 0.5rem;
}

#loginform .forgetmenot {
	align-items: center;
	display: flex;
	gap: 0.5rem;
}

#loginform .forgetmenot input {
	margin: 0;
}

#loginform .forgetmenot label {
	margin-bottom: 0 !important;
}

br.clear {
	display: none;
}

#registerform .submit,
.submit.reset-pass-submit {
	justify-content: space-between;
	width: 100%;
}

input[type=checkbox]:checked::before {
	content: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cpath%20d%3D%27M14.83%204.89l1.34.94-5.81%208.38H9.02L5.78%209.67l1.34-1.25%202.57%202.4z%27%20fill%3D%27%23fc757d%27%2F%3E%3C%2Fsvg%3E");
}

#wp-submit,
.submit .button {
	background-color: #eb3b5a;
	background-image: linear-gradient(45deg, #fc5c65, #e64f97, #b05dbf, #526cd0);
	border: none;
	border-radius: 0.5rem;
	color: #d0d0d0;
	margin-bottom: 0;
}

:is(#wp-submit, .submit .button):hover {
	background-color: #fc5c65;
	background-image: linear-gradient(135deg, #fc5c65, #e64f97, #b05dbf, #526cd0);
}

:is(#wp-submit, .submit .button):focus {
	background-color: #fc5c65;
	background-image: linear-gradient(45deg, #fc5c65, #e64f97, #b05dbf, #526cd0);
}

#login :is(#login_error, .message, .success) {
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	backdrop-filter: blur(16px) saturate(180%);
	background-image: linear-gradient(45deg, #fc5c65, #e64f97, #b05dbf, #526cd0);
	border-left: none !important;
	border-radius: 0.5rem;
	color: #f0f0f0;
	font-size: 0.875rem;
	margin: 0;
	text-align: center;
}

:is(#login_error, .message, .success) a {
	color: #f0f0f0;
}

.privacy-policy-page-link {
	display: none;
}

#nav,
#backtoblog {
	color: transparent;
	margin: 0 !important;
	padding: 0 !important;
	text-align: center !important;
}

:is(#nav, #backtoblog) a {
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	backdrop-filter: blur(16px) saturate(180%);
	background-color: rgba(17, 25, 40, 0.65);
	border-radius: 0.5rem;
	color: #f0f0f0 !important;
	display: inline-block;
	padding: 0.75rem 1rem;
	text-decoration: none;
}

:is(#nav, #backtoblog) a:hover {
	background-color: #eb3b5a;
	background-image: linear-gradient(45deg, #fc5c65, #e64f97, #b05dbf, #526cd0);
	color: #f0f0f0;
}/*# sourceMappingURL=login.css.map */