:root {
	--color-1: #a318b6;
	--color-2: #8f159f;
	--color-3: #7b1289;
	--color-4: #660f72;
	--color-5: #36454f;
	--color-6: #2c3840;
	--color-7: #212b31;
	--color-8: #dedede;
	--color-9: #f0f0f0;
}

:focus {
	box-shadow: none !important;
}

#particles-js {
	position:absolute;
	width: 100%;
	height: 100%;
	background-color: var(--color-7);
}

canvas {
	display: block;
}

.clear {
	display: none;
}

body.login {
	align-items: center;
	display: flex;
	font-family: 'Rubik', sans-serif !important;
	justify-content: center;
}

#login {
	display: grid;
	gap: .5rem;
	padding: .25rem 0;
	max-width: 340px;
	width: 100%;
}

#login h1 {
	display: none;
}

#loginform,
#registerform,
#lostpasswordform,
#resetpassform {
	backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.65);
	border: 0;
	border-radius: .5rem;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: space-between;
	margin: 0 !important;
	padding: 1rem !important;
}

#loginform label,
#registerform label,
#reg_passmail,
#lostpasswordform label,
#resetpassform label,
#resetpassform .description {
	color: var(--color-8);
	font-size: 1rem;
	margin-bottom: .5rem !important;
}

#user_login,
#user_pass,
#rememberme,
#user_email,
#pass1 {
	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	background-color: rgba(77, 92, 120, 0.65) !important;
	color: var(--color-8) !important;
	border: 0 !important;
	margin: 0;
}

#user_login:focus,
#user_pass:focus,
#rememberme:focus,
#user_email:focus,
#pass1:focus {
	border-color: var(--color-2);
	box-shadow: 0 0 0 .125rem var(--color-2) !important;
}

.dashicons {
	color: var(--color-8);
}

.login #pass-strength-result {
	border-radius: 50rem;
	margin-top: .5rem;
}

#loginform .forgetmenot {
	align-items: center;
	display: flex;
	gap: .5rem;
}

#loginform .forgetmenot input {
	margin: 0;
}

#loginform .forgetmenot label {
	margin-bottom: 0 !important;
}

br.clear {
	display: none;
}

#registerform .submit,
.submit.reset-pass-submit {
	justify-content: space-between;
	width: 100%;
}

input[type=checkbox]:checked::before {
	content:url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cpath%20d%3D%27M14.83%204.89l1.34.94-5.81%208.38H9.02L5.78%209.67l1.34-1.25%202.57%202.4z%27%20fill%3D%27%23fc757d%27%2F%3E%3C%2Fsvg%3E");
}

#wp-submit,
.submit .button {
	background-color: var(--color-1);
	border: none;
	border-radius: 50rem;
	color: var(--color-9);
	margin-bottom: 0;
}

#wp-submit:hover,
.submit .button:hover {
	background-color: var(--color-2);
}

#wp-submit:focus,
.submit .button:focus {
	background-color: var(--color-2);
}

#login :is(#login_error, .message, .success) {
	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	background-color: rgba(163, 24, 182, 0.65) !important;
	border-left: none !important;
	border-radius: .5rem;
	color: var(--color-8);
	font-size: .875rem;
	margin: 0;
	text-align: center;
}

#login_error a,
.message a,
.success a {
	color: var(--color-8);
}

.privacy-policy-page-link {
	display: none;
}

#nav,
#backtoblog {
	color: transparent;
	margin: 0 !important;
	padding: 0 !important;
	text-align: center !important;
}

#nav a,
#backtoblog a {
	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	background-color: rgba(17, 25, 40, 0.65);
	border-radius: 50rem;
	color: var(--color-8) !important;
	display: inline-block;
	padding: .75rem 1rem;
	text-decoration: none;
}

#nav a:hover,
#backtoblog a:hover {
	background: var(--color-2);
	color: var(--color-8);
}