:root {
	--color-01: #fc757d;
	--color-02: #fc5c65;
	--color-03: #eb3b5a;
	--color-04: #e92447;
	--color-05: #36454f;
	--color-06: #2c3840;
	--color-07: #212b31;
	--color-08: #f0f0f0;
	--color-09: #d0d0d0;
	--color-10: #7f7f7f;
}

:focus {
	box-shadow: none !important;
}

.clear {
	display: none;
}

body.login {
	align-items: center;
	background-color: var(--color-07);
	background-image: repeating-linear-gradient(45deg, var(--color-07) 25%, transparent 25%, transparent 75%, var(--color-07) 75%, var(--color-07)),
										repeating-linear-gradient(45deg, var(--color-07) 25%, var(--color-06) 25%, var(--color-06) 75%, var(--color-07) 75%, var(--color-07));
	background-position: 0 0, 4px 4px;
	background-size: 8px 8px;
	display: flex;
	font-family: 'Roboto', sans-serif;
	justify-content: center;
}

#login {
	display: grid;
	gap: .5rem;
	padding: .25rem 0;
	max-width: 340px;
	width: 100%;
}

#login h1 {
	display: none;
}

#loginform,
#registerform,
#lostpasswordform,
#resetpassform {
	backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.65);
	border: 0;
	border-radius: .5rem;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: space-between;
	margin: 0 !important;
	padding: 1rem !important;
}

#loginform label,
#registerform label,
#reg_passmail,
#lostpasswordform label,
#resetpassform label,
#resetpassform .description {
	color: var(--color-08);
	font-size: 1rem;
	margin-bottom: .5rem !important;
}

#user_login,
#user_pass,
#rememberme,
#user_email,
#pass1 {
	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	background-color: rgba(77, 92, 120, 0.65) !important;
	color: var(--color-08) !important;
	border: 0 !important;
	margin: 0;
}

:is(#user_login, #user_pass, #rememberme, #user_email, #pass1):focus {
	border-color: var(--color-02);
	box-shadow: 0 0 0 .125rem var(--color-02) !important;
}

.dashicons {
	color: var(--color-07);
}

.login #pass-strength-result {
	border-radius: 50rem;
	margin-top: .5rem;
}

#loginform .forgetmenot {
	align-items: center;
	display: flex;
	gap: .5rem;
}

#loginform .forgetmenot input {
	margin: 0;
}

#loginform .forgetmenot label {
	margin-bottom: 0 !important;
}

br.clear {
	display: none;
}

#registerform .submit,
.submit.reset-pass-submit {
	justify-content: space-between;
	width: 100%;
}

input[type=checkbox]:checked::before {
	content:url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cpath%20d%3D%27M14.83%204.89l1.34.94-5.81%208.38H9.02L5.78%209.67l1.34-1.25%202.57%202.4z%27%20fill%3D%27%23fc757d%27%2F%3E%3C%2Fsvg%3E");
}

#wp-submit,
.submit .button {
	background-color: var(--color-03);
	border: none;
	border-radius: .5rem;
	color: var(--color-09);
	margin-bottom: 0;
}

:is(#wp-submit, .submit .button):hover {
	background-color: var(--color-02);
}

:is(#wp-submit, .submit .button):focus {
	background-color: var(--color-03);
}

#login :is(#login_error, .message, .success) {
	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	background-color: rgba(235, 59, 90, 0.8) !important;
	border-left: none !important;
	border-radius: .5rem;
	color: var(--color-08);
	font-size: .875rem;
	margin: 0;
	text-align: center;
}

:is(#login_error, .message, .success) a {
	color: var(--color-08);
}

.privacy-policy-page-link {
	display: none;
}

#nav,
#backtoblog {
	color: transparent;
	margin: 0 !important;
	padding: 0 !important;
	text-align: center !important;
}

:is(#nav, #backtoblog) a {
	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	background-color: rgba(17, 25, 40, 0.65);
	border-radius: .5rem;
	color: var(--color-08) !important;
	display: inline-block;
	padding: .75rem 1rem;
	text-decoration: none;
}

:is(#nav, #backtoblog) a:hover {
	background: var(--color-03);
	color: var(--color-08);
}