/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
	list-style: none;
	margin-block-end: 0;
	margin-block-start: 0;
	padding-inline-start: 0;
}

/* Remove list styles on li */
li {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.25;
}

/* A elements that don't have a class get default styles */
a {
	text-decoration: none;
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

:root {
	--color-01: #fc757d;
	--color-02: #fc5c65;
	--color-03: #eb3b5a;
	--color-04: #e92447;
	--color-05: #36454f;
	--color-06: #2c3840;
	--color-07: #212b31;
	--color-08: #f0f0f0;
	--color-09: #d0d0d0;
	--color-10: #7f7f7f;
	--color-11: #3f3f3f;
	--color-12: #c96510;
	--width-box: 900px;
	--width-content: 800px;
}

::-webkit-scrollbar {
	height: 12px;
	width: 12px;
}

::-webkit-scrollbar-track {
	background-color: var(--color-07);
}

::-webkit-scrollbar-thumb {
	background-color: var(--color-02);
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--color-04);
}

::-moz-selection {
	background-color: var(--color-02);
	color: var(--color-08);
  -webkit-text-fill-color: var(--color-08);
}

::selection {
	background-color: var(--color-02);
	color: var(--color-08);
  -webkit-text-fill-color: var(--color-08);
}

html {
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
	scrollbar-color: var(--color-02) var(--color-07);
}

body {
	background-color: var(--color-07);
	background-image: repeating-linear-gradient(45deg, var(--color-07) 25%, transparent 25%, transparent 75%, var(--color-07) 75%, var(--color-07)),
										repeating-linear-gradient(45deg, var(--color-07) 25%, var(--color-06) 25%, var(--color-06) 75%, var(--color-07) 75%, var(--color-07));
	background-position: 0 0, 2px 2px;
	background-size: 4px 4px;
	color: var(--color-09);
}

/**
	* Homepage
*/
.homepage {
	display: flex;
	min-height: 100vh;
}

.hero {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	justify-content: center;
	margin: auto;
	padding: 2rem;
	max-width: var(--width-content);
}

.hero-photo {
	display: flex;
}

.hero-photo svg {
	border-radius: 50rem;
	box-shadow: 0 0 1px 0 var(--color-03) inset, 0 0 1px 0 var(--color-03);
	filter: drop-shadow(2px 2px 4px #0f0f0f);
}

.hero h1 {
	background: linear-gradient(180deg, #fc5c65, #e64f97, #b05dbf, #526cd0);
	background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	color: var(--color-02);
	filter: drop-shadow(2px 2px 4px #0f0f0f);
	font-family: 'Audiowide', cursive;
	font-size: clamp(2.5rem, 3.5vw, 4rem);
	letter-spacing: .1rem;
	text-align: center;
}

.hero-heading-text {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: clamp(1.125rem, 2vw, 1.5rem);
	text-align: center;
}

.hero-social {
	display: flex;
	gap: 1rem;
}

.hero-social a {
	align-items: center;
	background-color: var(--color-05);
	border-radius: .5rem;
	color: var(--color-09);
	display: flex;
	filter: drop-shadow(2px 2px 4px #0f0f0f);
	height: 48px;
	justify-content: center;
	width: 48px;
}

.hero-social a:is(:focus, :hover) {
	background-color: var(--color-03);
	background-image: linear-gradient(45deg, #fc5c65, #e64f97, #b05dbf, #526cd0);
	color: var(--color-08);
	outline: none;
}

.hero-social a:active {
	background-color: var(--color-04);
	background-image: linear-gradient(315deg, #fc5c65, #e64f97, #b05dbf, #526cd0);
	color: var(--color-08);
	filter: drop-shadow(2px 2px 2px #0f0f0f);
}

.hero-social a i {
	display: block;
	font-size: 1.75rem;
}

.hero-heading-link {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: center;
}

.hero-heading-link a {
	background: var(--color-05);
	border-radius: .5rem;
	color: var(--color-09);
	filter: drop-shadow(2px 2px 4px #0f0f0f);
	font-family: 'Roboto Condensed', sans-serif;
	font-size: clamp(1.125rem, 2vw, 1.5rem);
	padding: .375rem .675rem;
	display: flex;
	align-items: center;
	gap: .75rem;
	justify-content: center;
}

.hero-heading-link a:is(:focus, :hover) {
	background-color: var(--color-03);
	background-image: linear-gradient(45deg, #fc5c65, #e64f97, #b05dbf, #526cd0);
	color: var(--color-08);
	outline: none;
}

.hero-heading-link a:active {
	background-color: var(--color-04);
	background-image: linear-gradient(315deg, #fc5c65, #e64f97, #b05dbf, #526cd0);
	color: var(--color-08);
	filter: drop-shadow(2px 2px 2px #0f0f0f);
}

.hero-heading-link i {
	font-size: clamp(.75rem, 2vw, .875rem);
}

.search-box {
	max-width: 400px;
	width: 100%;
}

.search-box form {
	display: flex;
	filter: drop-shadow(2px 2px 2px #0f0f0f);
	justify-content: center;
}

.search-box form input {
	border: 4px solid var(--color-05);
	border-radius: 5rem 0 0 5rem;
	outline: none;
	padding: 12px 16px;
	width: calc(100% - 52px);
}

.search-box form input:focus {
	border-color: var(--color-02);
}

.search-box form button {
	align-items: center;
	background: var(--color-05);
	border: none;
	border-radius: 0 5rem 5rem 0;
	cursor: pointer;
	display: flex;
	height: 52px;
	justify-content: center;
	width: 52px;
}

.search-box form button:is(:focus, :hover) {
	background-color: var(--color-03);
	background-image: linear-gradient(45deg, #fc5c65, #e64f97, #b05dbf, #526cd0);
	outline: none;
}

.search-box form button:active {
	background-color: var(--color-04);
	background-image: linear-gradient(315deg, #fc5c65, #e64f97, #b05dbf, #526cd0);
}

.search-box form button i {
	color: var(--color-09);
	margin-left: -4px;
}

.hero-footer {
	color: var(--color-10);
	display: flex;
	flex-wrap: wrap;
	font-size: .875rem;
	gap: 1rem;
	justify-content: center;
}

.hero-footer a {
	color: var(--color-10);
}

.hero-footer a:hover {
	color: var(--color-01);
}

/**
	* Top Menu
*/
.navigation {
	margin: 0 auto;
	max-width: var(--width-box);
	padding: 4rem 2rem;
}

.top-menu {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.logo {
	color: var(--color-09);
	font-family: 'Audiowide', cursive;
	font-size: 1.5rem;
}

.logo:hover {
	text-decoration: .25rem underline var(--color-03);
}

.name-part {
	background: linear-gradient(180deg, #fc5c65, #e64f97, #b05dbf, #526cd0);
	background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	color: var(--color-02);
	font-weight: bold;
}

#menu-icon {
	display: none;
}

#main-menu {
	font-family: 'Roboto Condensed', sans-serif;
}

#main-menu ul {
	display: flex;
	flex-wrap: wrap;
	gap: .75rem;
}

#main-menu ul li a {
	color: var(--color-09);
	display: block;
	font-size: 1.25rem;
	font-weight: 700;
	letter-spacing: .05rem;
	padding: .25rem .5rem;
}

#main-menu ul li a:hover {
	background: linear-gradient(180deg, #fc5c65, #e64f97, #b05dbf, #526cd0);
	background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	color: var(--color-02);
}

/**
	* Content List
*/
.content-list {
	background-color: var(--color-08);
	background-image: repeating-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
										repeating-linear-gradient(45deg, #fff 25%, #f0f0f0 25%, #f0f0f0 75%, #fff 75%, #fff);
	background-position: 0 0, 2px 2px;
	background-size: 4px 4px;
	filter: drop-shadow(4px 4px 4px #0f0f0f);
	margin: 0 auto;
	max-width: var(--width-content);
	padding: 2rem;
}

.content-list h1 {
	background-color: var(--color-02);
	background-image: linear-gradient(45deg, #fc5c65, #e64f97, #b05dbf, #526cd0);
	border-radius: 0.25rem;
	color: var(--color-08);
	font-size: 3rem;
	margin-bottom: 2rem;
	padding: 2rem 1rem;
	text-align: center;
}

.content-list-box {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	padding-bottom: 2rem;
}

.postcard {
	border-bottom: 1px solid rgba(127, 127, 127, .5);
	padding-bottom: 1.5rem;
}

.postcard-box {
	color: var(--color-05);
	display: flex;
	flex-direction: column;
	gap: .5rem;
}

.postcard-date {
	color: var(--color-10);
}

.postcard-box h2 a {
	color: var(--color-04);
}

.postcard-box h2 a:hover {
	text-decoration: .125rem underline var(--color-03);
}

.postcard-box p {
	line-height: 1.75rem;
	margin-bottom: .5rem;
}

.postcard-box ul {
	display: flex;
	flex-wrap: wrap;
	gap: .5rem;
}

.postcard-box ul li a {
	background-color: var(--color-10);
	border-radius: .25rem;
	color: var(--color-08);
	display: block;
	padding: .25rem .5rem;
}

.postcard-box ul li a:hover {
	background-color: var(--color-03);
	background-image: linear-gradient(45deg, #fc5c65, #e64f97, #b05dbf, #526cd0);
	color: var(--color-08);
}
/* 
.postcard-box {
	position: relative;
}

.postcard-box h2 a:after {
	bottom: 0;
	content: "\A";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
} */

/**
	* Main Article
*/
.article {
	background-color: var(--color-08);
	border-radius: .25rem;
	color: var(--color-05);
	filter: drop-shadow(4px 4px 4px #0f0f0f);
	font-size: 1.125rem;
	margin: 0 auto;
	max-width: var(--width-content);
	padding: 2rem;
}

.article a {
	color: var(--color-03);
}

.article a:hover {
	text-decoration: .125rem underline;
}

.article-page {
	background-image: repeating-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
										repeating-linear-gradient(45deg, #fff 25%, #f0f0f0 25%, #f0f0f0 75%, #fff 75%, #fff);
	background-position: 0 0, 2px 2px;
	background-size: 4px 4px;
}

.page-heading {
	background-color: var(--color-02);
	background-image: linear-gradient(45deg, #fc5c65, #e64f97, #b05dbf, #526cd0);
	border-radius: .25rem;
	margin-bottom: 2rem;
	padding: 2rem 1rem;
}

.page-heading h1 {
	color: var(--color-08);
	font-size: 3rem;
	text-align: center;
}

.breadcrumbs {
	border-bottom: 1px solid rgba(127, 127, 127, .5);
	font-size: .875rem;
	padding-bottom: .5rem;
}

.breadcrumbs ol li {
	display: inline;
}

.breadcrumbs ol li.breadcrumb-list::before {
	content: "\2022";
	display: inline;
	margin: 0 0.25rem;
}

.article-title {
	border-bottom: 1px solid rgba(108, 117, 125, .5);
	margin: 0.75rem auto 1.5rem;
	padding-bottom: 0.75rem;
}

.article-title h1 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 2rem;
	margin-bottom: .75rem;
}

.article-info {
	display: flex;
	font-size: .875rem;
	font-weight: 300;
	gap: 1rem;
}

.article-tag a::before {
	content: "#";
}

.info-date, .info-tag-list {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 0.375rem;
}

.article-content {
	line-height: 2rem;
}

.article-content :is(h2, h3, h4, h5, h6) {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.75rem;
	margin: 3rem 0 1rem;
}

.article-content p {
	margin-bottom: 1.25rem;
}

.article-content p code,
.article-content li code {
	background-color: var(--color-09);
	border-radius: .25rem;
	color: var(--color-05);
	font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	padding: .125rem .25rem;
	overflow-wrap: break-word;
	white-space: break-spaces;
}

.article-content figure {
	margin: 1.5rem auto;
}

.article-content figure img {
	background-color: var(--color-07);
	background-image: repeating-linear-gradient(45deg, var(--color-07) 25%, transparent 25%, transparent 75%, var(--color-07) 75%, var(--color-07)),
										repeating-linear-gradient(45deg, var(--color-07) 25%, var(--color-06) 25%, var(--color-06) 75%, var(--color-07) 75%, var(--color-07));
	background-position: 0 0, 2px 2px;
	background-size: 4px 4px;
	border-radius: 0.25rem;
	display: block;
	height: auto;
	margin: 0 auto;
	padding: 0.75rem;
}

.article-content :is(ol, ul) {
	margin: 0.5rem auto 1.5rem;
	padding-left: 2rem
}

.article-content :is(ol, ul) li {
	display: list-item;
	line-height: 2.25rem;
}

.article-content ol li {
	list-style: decimal;
}

.article-content ul li {
	list-style: disc;
}

.article-content blockquote {
	background-color: var(--color-07);
	background-image: repeating-linear-gradient(45deg, var(--color-07) 25%, transparent 25%, transparent 75%, var(--color-07) 75%, var(--color-07)),
										repeating-linear-gradient(45deg, var(--color-07) 25%, var(--color-06) 25%, var(--color-06) 75%, var(--color-07) 75%, var(--color-07));
	background-position: 0 0, 2px 2px;
	background-size: 4px 4px;
	border-radius: .5rem;
	color: var(--color-08);
	margin-bottom: 1.5rem;
	padding: 1rem;
	text-align: center;
}

.article-content blockquote p {
	line-height: 2rem;
	margin-bottom: 0;
	margin-top: 0;
	max-width: 100%;
}

.article-content blockquote p::before {
	font: 1.8125rem/1.8125rem Georgia, serif;
	padding: 0 .375rem;
	content: open-quote;
}

.article-content blockquote p::after {
	font: 1.8125rem/1.8125rem Georgia, serif;
	padding: 0 .375rem;
	content: close-quote;
}

.article-content blockquote p:not(:first-child):last-child {
	color: var(--color-c-1);
	font-size: .8125rem;
	font-style: italic;
	padding-top: 1rem;
	text-align: right;
}

.article-content blockquote p:not(:first-child):last-child::before,
.article-content blockquote p:not(:first-child):last-child::after {
	font: 1rem/1rem Georgia, serif;
	content: "-";
}

/* For Highlighting Code Block */
.article-content div.hcb_wrap {
	border-radius: .5rem;
	margin: 0 auto 1.5rem;
	overflow-wrap: break-word;
	scrollbar-color: var(--color-02) var(--color-07);
}

.article-content div.hcb_wrap :is(pre, code) {
	background-color: var(--color-07);
	background-image: repeating-linear-gradient(45deg, var(--color-07) 25%, transparent 25%, transparent 75%, var(--color-07) 75%, var(--color-07)),
										repeating-linear-gradient(45deg, var(--color-07) 25%, var(--color-06) 25%, var(--color-06) 75%, var(--color-07) 75%, var(--color-07));
	background-position: 0 0, 2px 2px;
	background-size: 4px 4px;
}

.article-content div.hcb_wrap pre {
	padding: .625rem;
}

span.token:is(.constant, .deleted, .important, .property, .symbol, .tag, .keyword, .operator) {
	color: var(--color-02);
}

.article-content div.hcb_wrap pre::-webkit-scrollbar {
	height: 12px;
	width: 12px;
}

.article-content div.hcb_wrap pre::-webkit-scrollbar-track {
	background-color: var(--color-07);
}

.article-content div.hcb_wrap pre::-webkit-scrollbar-thumb {
	background-color: var(--color-02);
	border-radius: 0;
}

.article-content div.hcb_wrap pre::-webkit-scrollbar-thumb:hover {
	background-color: var(--color-03);
}

/**
	* Contact Page
*/
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

.contact-form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding-bottom: 1rem;
}

.contact-form :is(input, textarea) {
	background-color: #ffffff;
	border: .125rem solid var(--color-10);
	border-radius: 0.25rem;
	color: var(--color-b-3);
	padding: 0.625rem;
	overflow-wrap: break-word;
}

.contact-form :is(input, textarea):is(:focus-visible, :hover) {
	border: .125rem solid var(--color-03);
	outline: none;
}

.contact-info {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.contact-info input {
	width: 100%;
}

.contact-form textarea {
	resize:vertical;
}

.hidden-form {
	display: none;
}

#messagecharcounter {
	text-align: end;
}

.text-light {
	color: var(--color-05);
}

.text-warning {
	color: var(--color-12);
}

.text-danger {
	color: var(--color-03);
}

.bottom-form {
	display: flex;
	gap: 0;
	justify-content: space-between;
}

.form-submit button {
	background-color: var(--color-05);
	border: 0;
	border-radius: .25rem;
	color: var(--color-08);
	cursor: pointer;
	margin: 0;
	padding: .5rem .75rem;
}

.form-submit button:hover {
	background-color: var(--color-03);
	background-image: linear-gradient(45deg, #fc5c65, #e64f97, #b05dbf, #526cd0);
}

.form-submit button:active {
	background-color: var(--color-04);
	background-image: linear-gradient(315deg, #fc5c65, #e64f97, #b05dbf, #526cd0);
}

/**
	* Footer
*/
.footer-box {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	max-width: var(--width-box);
	padding: 4rem 2rem;
}

.footer-box a {
	color: var(--color-09);
}

.footer-left {
	display: flex;
	flex-direction: column;
	font-size: .875rem;
	gap: .5rem;
	justify-content: center;
}

.footer-left a:hover {
	color: var(--color-01);
}

.footer-left div {
	align-items: center;
	display: flex;
	gap: .5rem;
}

.social-page {
	display: flex;
	gap: .5rem;
}

.social-page a {
	align-items: center;
	background-color: var(--color-05);
	border-radius: 0.25rem;
	color: var(--color-09);
	display: flex;
	height: 32px;
	justify-content: center;
	width: 32px;
}

.social-page a:hover {
	background-color: var(--color-03);
	background-image: linear-gradient(45deg, #fc5c65, #e64f97, #b05dbf, #526cd0);
	color: var(--color-08);
}






@media (max-width: 1400px) {
	.hero-photo svg {
		height: 144px;
		width: 144px;
	}

	.navigation {
		padding: 2rem;
	}
}

@media (max-width: 900px) {
	.navigation {
		padding: 2rem 1rem;
	}
}

@media (max-width: 600px) {
	.hero {
		gap: 1.5rem;
		padding: 2rem 1rem;
	}

	.hero-social a {
		height: 42px;
		width: 42px;
	}

	.hero-social a i {
		font-size: 1.5rem;
	}

	.hero-heading-link a {
		gap: .5rem;
	}

	.contact-form {
		padding-bottom: 2rem;
	}

	.contact-info {
		flex-direction: column;
	}

	.bottom-form {
		flex-direction: column;
		gap: 2rem;
		justify-content: center;
	}

	.g-recaptcha {
		margin: 0 auto;
	}
	
	.form-submit button {
		border-radius: 5rem;
		padding: 1rem;
		width: 100%;
	}
}

@media (max-width: 400px) {
	.content-list {
		padding: 1rem;
	}
	.article {
		font-size: 1rem;
		padding: 1rem;
	}

	.article-content :is(ol, ul) li {
		line-height: 1.875rem;
	}
}