/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
	list-style: none;
	margin-block-end: 0;
	margin-block-start: 0;
	padding-inline-start: 0;
}

/* Remove list styles on li */
li {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.25;
}

/* A elements that don't have a class get default styles */
a {
	text-decoration: none;
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

:root {
	--color-1: #a318b6;
	--color-2: #8f159f;
	--color-3: #7b1289;
	--color-4: #660f72;
	--color-5: #36454f;
	--color-6: #2c3840;
	--color-7: #212b31;
	--color-8: #f0f0f0;
	--color-9: #e7e7e7;
	--color-10: #8f8f8f;
	--width-box: 900px;
	--width-content: 800px;
}

::-webkit-scrollbar {
	height: 12px;
	width: 12px;
}

::-webkit-scrollbar-track {
	background-color: var(--color-7);
}

::-webkit-scrollbar-thumb {
	background-color: var(--color-1);
	border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--color-4);
}

::-moz-selection {
	background-color: var(--color-5);
	color: var(--color-9);
}

::selection {
	background-color: var(--color-5);
	color: var(--color-9);
}

html {
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
	scrollbar-color: var(--color-1) var(--color-2);
}

body {
	background-color: var(--color-9);
	color: var(--color-5);
}

/**
	* Front page
*/
.homepage {
	display: flex;
	min-height: 100vh;
}

.hero {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	justify-content: center;
	margin: auto;
	padding: 2rem;
	max-width: var(--width-content);
}

.hero-photo {
	display: flex;
}

.hero h1 {
	background: -webkit-linear-gradient(var(--color-1), var(--color-4));
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-stroke: transparent;
	-webkit-text-fill-color: transparent;
	color: var(--color-3);
	font-family: 'Audiowide', cursive;
	font-size: clamp(1.875rem, 4vw, 4rem);
	letter-spacing: .1rem;
	text-align: center;
}

.hero-heading-text {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: clamp(1.125rem, 2vw, 1.5rem);
	text-align: center;
}

.hero-heading-link {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
	justify-content: center;
}

.hero-heading-link a {
	background: var(--color-5);
	border-radius: .25rem;
	color: var(--color-8);
	font-size: clamp(1.125rem, 2vw, 1.5rem);
	padding: .5rem .75rem;
}

.hero-heading-link a:is(:focus, :hover) {
	background-color: var(--color-3);
	outline: none;
}

.hero-social {
	display: flex;
	gap: 1rem;
}

.hero-social a {
	color: var(--color-5);
}

.hero-social a:is(:focus, :hover) {
	color: var(--color-2);
	outline: none;
}

.hero-social a i {
	font-size: clamp(2rem, 4vw, 3rem);
}

.search-box {
	max-width: 500px;
	width: 100%;
}

.search-box form {
	display: flex;
	justify-content: center;
}

.search-box form input {
	border: 2px solid var(--color-5);
	border-radius: 5rem 0 0 5rem;
	outline: none;
	padding: 16px;
	width: calc(100% - 56px);
}

.search-box form input:focus {
	border-color: var(--color-2);
}

.search-box form button {
	align-items: center;
	background-color: var(--color-3);
	border: none;
	border-radius: 0 5rem 5rem 0;
	cursor: pointer;
	display: flex;
	height: 56px;
	justify-content: center;
	width: 56px;
}

.search-box form button:is(:focus, :hover) {
	background-color: var(--color-1);
	outline: none;
}

.search-box form button i {
	color: var(--color-9);
	margin-left: -4px;
}

.hero-footer {
	color: var(--color-10);
	display: flex;
	flex-wrap: wrap;
	font-size: .875rem;
	gap: 1rem;
	justify-content: center;
}

.hero-footer a {
	color: var(--color-10);
}

.hero-footer a:hover {
	text-decoration: underline;
}