@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
    --main-color: #f79f00;
    --secondary-color: #ce8600;
    --first-bg-color: #36454f;
    --second-bg-color: #2c3840;
    --third-bg-color: #212b31;
    --text-normal-color: #dedede;
    --text-muted-color: #6c757d;
    --font-poppins: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: var(--text-normal-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--third-bg-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--third-bg-color);
}

body {
    font-family: var(--font-poppins) !important;
}

.custom-theme-section h2 {
    background: var(--first-bg-color) !important;
    border-radius: .25rem !important;
    color: var(--text-normal-color) !important;
    margin-bottom: 1rem !important;
    padding: .5rem !important;
}

.custom-theme-container {
    background: var(--second-bg-color);
    border-radius: 0 0 .25rem .25rem;
    padding: 1rem;
    box-shadow: 0 0 2px rgba(0,0,0,.15);
}

.custom-theme-container label, .custom-theme-container tr th, .custom-theme-container tr td p {
    color: var(--text-normal-color) !important;
}

.custom-theme-container textarea, .custom-theme-container input {
    background-color: var(--first-bg-color);
    border: none;
    color: var(--text-normal-color);
}

.custom-theme-container textarea:focus, .custom-theme-container input:focus {
    border-color: var(--secondary-color);
    box-shadow: 0 0 0 1px var(--secondary-color);
}

.custom-theme-container code {
    background-color: var(--text-normal-color);
    color: var(--second-bg-color);
}

.tabs {
    width: 100%;
    display: inline-block;
}

.tab-links {
    margin: 5px 0 0;
}

.tab-links:after {
    display: block;
    clear: both;
    content: '';
}

.tab-links li {
    margin: 0 10px 0 0;
    float: left;
    list-style: none;
}

.tab-links li a {
    padding: 9px 11px 9px 10px;
    display: inline-block;
    border-radius: 3px 3px 0 0;
    background: #e4e4e4;
    font-size: 16px;
    color: #4c4c4c;
    transition: all linear .15s;
    text-decoration: none;
    box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.2);
}

.tab-links a:hover {
    background: var(--first-bg-color);
    color: var(--text-normal-color);
    text-decoration: none;
}

.tab-links a:focus {
    outline: none;
}

.tab-links li.active a,
.tab-links li.active a:hover {
    background: var(--first-bg-color);
    color: var(--text-normal-color);
}

.tab-content {
    padding: 15px;
    border-radius: 0 3px 3px 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    background:#fff;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}

.wa-input-social-id {
    margin-right: .5rem;
    max-width: 25rem;
    width: 100%;
}

.wa-input-title {
    max-width: 40rem;
    width: 100%;
}

#disable:checked {
    border: 8px solid red;
}

.wa-custom-tab-icon {
    display: inline-block;
    font-size: 1.25rem;
    margin-right: .625rem;
}

.wa-theme-logo {
    margin: 2rem auto 0;
    text-align: center;
}

.theme-github-link {
    font-size: 1.5rem;
    font-weight: 800;
    margin: 2rem auto 0;
    text-align: center;
}

.theme-github-link a {
    color: var(--text-normal-color) !important;
    line-height: 2rem;
    text-decoration: underline .2rem var(--text-normal-color);
}

.theme-github-link a:hover {
    text-decoration: underline .2rem var(--main-color);
}

.wa-theme-social {
    font-size: 1.5rem;
    margin: 2rem 0 2rem;
    text-align: center;
}

.wa-theme-social a {
    color: var(--text-normal-color) !important;
    margin: 0 .25rem;
}

.wa-theme-social a:hover {
    color: var(--main-color) !important;
}