@import url('https://fonts.googleapis.com/css2?family=Mogra&family=Poppins&display=swap');

:root {
    --main-color: #f79f00;
    --secondary-color: #ce8600;
    --first-bg-color: #36454f;
    --second-bg-color: #2c3840;
    --third-bg-color: #212b31;
    --text-normal-color: #dedede;
    --text-muted-color: #6c757d;
    --font-poppins: 'Poppins', sans-serif;
    --font-mogra: 'Mogra', cursive;
}

:focus {
    box-shadow: none !important;
}

body.login {
    background-color: var(--first-bg-color);
    font-family: var(--font-poppins) !important;
}

body.login div#login {
    display: grid;
}

body.login div#login h1 {

}

body.login div#login h1 a {
    background-image: url(../assets/wiryawan-adipa-logo-medium.png);
    height: 80px;
    width: 80px;
    background-size: 80px;
    background-repeat: no-repeat;

}

input[type=text]:focus {
    border-color: var(--secondary-color);
}

body.login div#login form#loginform {
    background-color: var(--third-bg-color);
    border: 0;
    border-radius: .5rem;
}

body.login div#login form#loginform label {
    color: var(--text-normal-color);
}

body.login div#login form#loginform input {
    background-color: var(--second-bg-color);
    border: 0;
}

body.login div#login form#loginform input#user_login {
    color: var(--text-normal-color);
}

input#wp-submit {
    background-color: var(--first-bg-color);
}

input#wp-submit:hover {
    background-color: var(--main-color);
}

.button {
    border: 0 !important;
}

body.login div#login p#nav {
    margin: 0;
    padding: 2rem 0;
    text-align: center;
}

body.login div#login p#nav a {
    color: var(--main-color);
}

body.login div#login p#backtoblog {
    text-align: center;
}

.dashicons-visibility, .dashicons-hidden {
    color: var(--text-normal-color);
}

.login #login_error, .login .message, .login .success {
    background-color: var(--third-bg-color);
    border-left-color: var(--main-color);
    color: var(--text-normal-color);
}

body.login div#login form#lostpasswordform {
    background-color: var(--third-bg-color);
    border: 0;
}

body.login div#login form#lostpasswordform label {
    color: var(--text-normal-color);
}

body.login div#login form#lostpasswordform input#user_login {
    background-color: var(--second-bg-color);
    border: none !important;
    color: var(--text-normal-color);
}

p#nav a, #backtoblog a, .privacy-policy-link {
    background-color: var(--second-bg-color);
    border-radius: .25rem;
    color: var(--text-normal-color) !important;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
}

p#nav a:hover, #backtoblog a:hover, .privacy-policy-link:hover {
    background: var(--secondary-color);
    color: var(--text-normal-color);
}