@import url('https://fonts.googleapis.com/css2?family=Mogra&family=Poppins&display=swap');

:root {
    --main-color: #f79f00;
    --secondary-color: #ce8600;
    --first-bg-color: #36454f;
    --second-bg-color: #2c3840;
    --third-bg-color: #212b31;
    --text-normal-color: #dedede;
    --text-muted-color: #6c757d;
    --font-poppins: 'Poppins', sans-serif;
    --font-mogra: 'Mogra', cursive;
}

:focus {
    box-shadow: none !important;
}

body.login {
    background-color: var(--first-bg-color);
    font-family: var(--font-poppins) !important;
}

#login {
    display: grid;
}

#login h1 a {
    background-image: url(../assets/wiryawan-adipa-logo-medium.png);
    background-repeat: no-repeat;
    margin: .5rem auto !important;
    height: 80px;
    width: 80px;
    background-size: 80px;

}

input[type=text]:focus {
    border-color: var(--secondary-color);
}

#loginform, #lostpasswordform, #registerform {
    background-color: var(--third-bg-color);
    border: 0;
    border-radius: .25rem;
    margin: .5rem 0 !important;
}

#loginform label, #lostpasswordform label, #registerform label, #reg_passmail {
    color: var(--text-normal-color);
}

#user_login, #loginform input, #user_email {
    background-color: var(--second-bg-color) !important;
    color: var(--text-normal-color) !important;
    border: 0 !important;
}

#wp-submit {
    background-color: var(--secondary-color);
}

#wp-submit:hover {
    background-color: var(--main-color) !important;
}

.button {
    border: 0 !important;
}

.dashicons-visibility, .dashicons-hidden {
    color: var(--text-normal-color);
}

#login_error, .message, .success {
    background-color: var(--third-bg-color) !important;
    border-left-color: var(--main-color) !important;
    color: var(--text-normal-color) !important;
    margin: .5rem 0 !important;
}

#nav, #backtoblog, .privacy-policy-page-link {
    margin: 1.25rem 0 !important;
    padding: 0 !important;
    text-align: center !important;
}

#nav a, #backtoblog a, .privacy-policy-link {
    background-color: var(--second-bg-color);
    border-radius: .25rem;
    color: var(--text-normal-color) !important;
    padding: 1rem;
    text-decoration: none;
}

#nav a:hover, #backtoblog a:hover, .privacy-policy-link:hover {
    background: var(--secondary-color);
    color: var(--text-normal-color);
}