:root {
    --main-color: #f79f00;
    --secondary-color: #ce8600;
    --first-bg-color: #36454f;
    --second-bg-color: #2c3840;
    --third-bg-color: #212b31;
    --text-normal-color: #dedede;
    --text-muted-color: #6c757d;
    --font-poppins: 'Poppins', sans-serif;
    --font-mogra: 'Mogra', cursive;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: var(--second-bg-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondary-color);
}

html {
    font-family: var(--font-poppins) !important;
}

body {
    background-color: var(--first-bg-color);
    font-family: var(--font-poppins) !important;
    -webkit-animation: webkit-mainbody .5s 1 linear; 
    -moz-animation: moz-mainbody .5s 1 linear;
    -o-animation: o-mainbody .5s 1 linear;
    animation: mainbody .5s 1 linear;
}

@keyframes mainbody {
    0% {
        opacity: .8;
    }
    100% {
        opacity: 1;
    }
}

/* Navigation Bar */
.navbar-brand {
    display: flex;
    font-family: var(--font-mogra);
    padding: 0;
}

.navbar-brand span {
    margin: auto .5rem;
}

.wa-navbar {
    padding: 1rem 0;
    background-color: var(--second-bg-color);
}

.navbar-toggler:focus {
    color: var(--main-color);
}

.wa-navbar a, .wa-navbar a:focus {
    border-radius: .5rem;
    color: var(--text-normal-color);
}

.wa-navbar a:hover, .wa-navbar a:active {
    color: var(--main-color);
    background-color: var(--third-bg-color);
}

.wa-navbar ul {
    background-color: var(--second-bg-color);
    border-color: var(--second-bg-color);
}

.dropdown-item:focus, .dropdown-item:hover, .dropdown-item:active {
    background-color: var(--second-bg-color);
}

/* Main */
.main-page {
    background-color: var(--first-bg-color);
}

.hero {
    background-color: var(--third-bg-color);
}

.hero-heading-name {
    color: var(--text-normal-color);
    font-size: 3rem;
}

.hero-heading-text {
    color: var(--text-normal-color);
    font-size: 1.5rem;
    overflow: hidden;
}

.hero-photo img {
    width: 192px;
    height: 192px;
    -webkit-animation: webkit-heroimage .7s 1 linear; 
    -moz-animation: moz-heroimage .7s 1 linear;
    -o-animation: o-heroimage .7s 1 linear;
    animation: heroimage .7s 1 linear;
}

@keyframes heroimage {
    0% {
        width: 192px;
        height: 192px;
    }
    50% {
        width: 212px;
        height: 212px;
    }
    100% {
        width: 192px;
        height: 192px;
    }
}

.home-quote {
    background-color: var(--third-bg-color);
    color: var(--text-normal-color);
}

.home-quote a {
    color: var(--text-normal-color);
    text-decoration: underline .2rem;
    transition: text-decoration-color 300ms;
}

.home-quote a:hover {
    text-decoration: underline .2rem var(--main-color) !important;
}

.home-quote blockquote p:before {
    font: 1.8rem/1.8rem Georgia, serif;
    padding: 0 .4rem;
    content: open-quote;
}

.home-quote blockquote p:after {
    font: 1.8rem/1.8rem Georgia, serif;
    padding: 0 .4rem;
    content: close-quote;
}

.home-quote blockquote p:first-child {
    font-size: 1.5rem;
}

.home-quote blockquote p:not(:first-child):last-child {
    font-size: .8rem !important;
    padding-top: 1.5rem;
}

.home-quote blockquote p:not(:first-child):last-child:before, .home-quote blockquote p:not(:first-child):last-child:after {
    font: 1rem/1rem Georgia, serif;
    content: "-";
}

.postcard {
    background-color: var(--first-bg-color);
}

.postcard-inside {
    background-color: var(--second-bg-color);
}

.postcard-inside img {
    width: 100%;
    height: auto;
    transition: all .2s linear;
}

.postcard-inside:hover img {
    transform: scale(1.1);
}

.postcard-date {
    font-size: .9rem;
}

.postcard h2 {
    line-height: 1;
}

.postcard-image {
    overflow: hidden;
}

.postcard p {
    color: var(--text-normal-color);
}

.postcard a {
    transition: text-decoration-color 300ms;
}

.postcard a:hover {
    color: var(--text-normal-color);
    text-decoration: underline .2rem var(--main-color) !important;
}

.postcard-tag-list, .postcard-tag-list li {
    list-style: none;
    margin: 0;
    padding: 0;
    width: auto;
    gap: 8px;
}

.postcard-tag-list li {
    z-index: 9999;
}

.postcard-tag {
    font-size: .9rem;
    z-index: 9999;
    text-decoration: underline .15rem var(--text-normal-color) !important;
    transition: text-decoration-color 300ms;
}

.postcard-tag:hover {
    text-decoration-color: var(--main-color) !important;
}

.postcard-tag:before {
    content: "#";
    user-select: none;
}

.stretched-link {
    text-decoration: none;
    color: var(--text-normal-color);
}

.btn-primary {
    color: var(--text-normal-color);
    background-color: var(--second-bg-color);
    border-color: var(--second-bg-color);
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    color: var(--main-color);
    background-color: var(--third-bg-color);
    border-color: var(--third-bg-color);
    box-shadow: none !important;
}

.tag-title:before {
    content: "#";
}

.error-404 {
    color: var(--text-normal-color);
}

.post-title {
    padding: 0 1rem;
}

.post-title h1 {
    color: var(--text-normal-color);
    font-weight: 800;
    margin-bottom: 1rem;
}

.wa-post .post-title p {
    font-size: 1rem !important;
    line-height: 1.5rem;
    margin-bottom: 0 !important;
}

.wa-post .post-title .post-info-top {
    margin-bottom: 1rem !important;
}

.post-title p span {
    margin-left: .5rem;
    margin-right: 1rem;
}

.post-title p .post-tag-list {
    margin: 0 .25rem;
}

.post-title p .post-cat-list a, .post-title p .post-tag-list a {
    color: var(--text-normal-color);
    text-decoration: underline .15rem var(--text-normal-color);
    transition: text-decoration-color 300ms;
}

.post-title p .post-tag-list a:before {
    content: "#";
}

.post-title p .post-cat-list a:hover, .post-title p .post-tag-list a:hover {
    text-decoration-color: var(--main-color);
}

.wa-post p {
    color: var(--text-normal-color);
    font-size: 1.2rem !important;
    line-height: 2rem;
    margin-bottom: 2rem !important;
}

.wa-post-article {
    color: var(--text-normal-color);
}

.wa-post-article p {
    margin: 0 auto 2rem;
    max-width: 900px;
}

.wa-post-article h2,
.wa-post-article h3,
.wa-post-article h4,
.wa-post-article h5,
.wa-post-article h6 {
    color: var(--text-normal-color);
    margin: 0 auto 2rem;
    max-width: 900px;
}

.wa-post-article pre {
    color: var(--text-normal-color);
    font-size: 1.1rem !important;
}

.wa-post-article ol, .wa-post-article ul {
    font-size: 1.2rem;
    margin: 0 auto 2rem;
    max-width: 900px;
}

.wa-post-article ol li, .wa-post-article ul li {
    color: var(--text-normal-color);
}

.wa-post-article a {
    color: var(--text-normal-color);
    font-weight: 500;
    text-decoration: underline .2rem var(--text-normal-color);
    transition: text-decoration-color 300ms;
}

.wa-post-article a:hover {
    text-decoration-color: var(--main-color);
}

.wa-post figure {
    margin-bottom: 2rem;
}

.wa-post figure img {
    width: 100%;
    height: auto;
}

.wa-post blockquote {
    background-color: var(--second-bg-color);
    border-radius: .5rem;
    margin-bottom: 2rem;
    padding: 1rem;
    text-align: center;
}

.wa-post blockquote p {
    line-height: 1.8rem;
    margin-bottom: 0 !important;
    max-width: 100%;
}

.wa-post blockquote p:before {
    font: 1.8rem/1.8rem Georgia, serif;
    padding: 0 .4rem;
    content: open-quote;
}

.wa-post blockquote p:after {
    font: 1.8rem/1.8rem Georgia, serif;
    padding: 0 .4rem;
    content: close-quote;
}

.wa-post blockquote p:not(:first-child):last-child {
    color: var(--text-muted-color) !important;
    font-size: .8rem !important;
    font-style: italic;
    font-weight: 500;
    padding-top: 1.5rem;
    text-align: right;
}

.wa-post blockquote p:not(:first-child):last-child:before, .wa-post blockquote p:not(:first-child):last-child:after {
    font: 1rem/1rem Georgia, serif;
    content: "-";
}

.youtube {
    margin-bottom: 2rem !important;
}

.wa-post .hcb_wrap {
    border-left: .5rem solid var(--main-color);
    margin-top: 0rem !important;
    margin-bottom: 2rem !important;
    word-wrap: break-word;
}

.hcb_wrap .hcb-clipboard {
    background-color: var(--main-color) !important;
    width: 48px !important;
    height: 48px !important;
}

.hcb_wrap .hcb-clipboard.-done:before {
    color: var(--text-normal-color);
    font-size: 1.1rem !important;
}

.wa-post .hcb_wrap pre, .wa-post .hcb_wrap code {
    background-color: var(--second-bg-color) !important;
}

.wa-post .hcb_wrap pre {
    padding: 2.75rem !important;
}

/* Footer */

.wa-footer {
    background-color: var(--second-bg-color);
    color: var(--text-normal-color);
}

.wa-footer a {
    color: var(--text-normal-color);
    text-decoration: none;
}

.wa-footer a:hover {
    text-decoration: underline;
}

.wa-footer .social {
    min-height: 42px;
}

.wa-footer i:hover {
    color: var(--main-color);
}

.wa-footer .small-text {
    font-size: .875rem;
}

.theme-version {
    transition: text-decoration-color 300ms;
}

.theme-version:hover {
    text-decoration: underline .1rem var(--main-color) !important;
}