/* Variable */
:root {
    --color-one: #fc5c65;
    --color-two: #eb3b5a;
    --bg-color-one: #36454f;
    --bg-color-two: #2c3840;
    --bg-color-three: #212b31;
    --bg-color-two-hover: rgba(33, 43, 49, .75);
    --text-normal: #dedede;
    --text-muted: #6c757d;
    --font-poppins: 'Poppins', sans-serif;
    --content-width: 900px;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--bg-color-two);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-one);
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-two);
}

html {
    font-family: var(--font-poppins) !important;
}

body {
    background-color: var(--bg-color-one);
    font-family: var(--font-poppins) !important;
    -webkit-animation: webkit-mainbody .5s 1 linear; 
    -moz-animation: moz-mainbody .5s 1 linear;
    -o-animation: o-mainbody .5s 1 linear;
    animation: mainbody .5s 1 linear;
}

@keyframes mainbody {
    0% {
        opacity: .8;
    }
    100% {
        opacity: 1;
    }
}

.top-space {
    background-color: var(--bg-color-two);
}

/* Navigation Bar */
.navbar-brand {
    padding: 0;
}

.navbar-brand:hover {
    background-color: transparent !important;
}

.navbar-brand span {
    margin: auto .5rem;
    vertical-align: middle;
}

.wa-navbar {
    padding: 1rem 0;
    background-color: var(--bg-color-two);
}

.navbar-toggler:focus {
    color: var(--color-one);
}

.wa-navbar a, .wa-navbar a:focus {
    border-radius: .25rem;
    color: var(--text-normal);
}

.wa-navbar a:hover, .wa-navbar a:active {
    color: var(--text-normal);
    background-color: var(--color-two);
}

.wa-top-menu {
    padding: .31rem;
}

.wa-top-menu::before {
    content: "\A";
    border-radius: 4px;
    background-color: var(--text-normal);
    width: 4px;
    height: 4px;
    display:inline-block;
}

.wa-navbar ul {
    background-color: var(--bg-color-two);
    border-color: var(--bg-color-two);
}

.dropdown-item:focus, .dropdown-item:hover, .dropdown-item:active {
    background-color: var(--bg-color-two);
}

.dropdown-menu {
    border-radius: 0 0 .375rem .375rem !important;
    padding: .5rem;
    top: 54px !important;
}

.dropdown-menu form {
    display:flex;
    flex-direction:row;
    width: 100%;
}

.dropdown-menu input {
    border: none;
    padding: .375rem;
    min-width: 240px;
    width: 100%;
}

.dropdown-menu button {
    background-color: var(--bg-color-three);
    border: none !important;
    color: var(--text-normal);
    height: 38px;
    width: 38px;
}

.dropdown-menu button:hover {
    background-color: var(--color-two);
}

input:focus-visible {
    outline-color: var(--color-one);
}

/* Main */
.main-page {
    background-color: var(--bg-color-one);
}

/* Diagonal Accent */
.cosmetic-1 {
    background-color: var(--bg-color-three);
}

.cosmetic-2 {
    background-color: var(--bg-color-two);
}

.cosmetic-3 {
    background-color: var(--bg-color-one);
}

.cosmetic-4 {
    background-color: var(--bg-color-three);
}

.cosmetic-5 {
    background-color: var(--bg-color-two);
}

.cosmetic-box {
    height: 200px;
    overflow: hidden;
}

.cosmetic-main {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: skewY(357deg);
    transform-origin: top left;
    border-bottom: 1rem solid var(--color-one);
}

.cosmetic-main-1 {
    background-color: var(--bg-color-two);
}

.cosmetic-main-2 {
    background-color: var(--bg-color-three);
}

.cosmetic-main-3 {
    background-color: var(--bg-color-two);
}

.cosmetic-main-4 {
    background-color: var(--bg-color-one);
}

.cosmetic-main-5 {
    background-color: var(--bg-color-three);
}

/* Hero */
.hero {
    background-color: var(--bg-color-three);
    -webkit-animation: webkit-hero 2s 1 linear; 
    -moz-animation: moz-hero 2s 1 linear;
    -o-animation: o-hero 2s 1 linear;
    animation: hero 2s 1 linear;
}

@keyframes hero {
    0% {
        max-height: 0;
    }
    100% {
        max-height: 200rem;
    }
}

.herobox {
    border: 1rem solid var(--bg-color-three);
    border-radius: .5rem;
    overflow: hidden;
    -webkit-animation: webkit-herobox 1.2s 1 linear; 
    -moz-animation: moz-herobox 1.2s 1 linear;
    -o-animation: o-herobox 1.2s 1 linear;
    animation: herobox 1.2s 1 linear;
}

@keyframes herobox {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.hero-heading-name {
    color: var(--text-normal);
}

.hero-heading-name h1 {
    font-size: 3rem;
}

.hero-heading-text {
    color: var(--text-normal);
    font-size: 1.5rem;
    overflow: hidden;
}

.hero-photo img {
    width: 192px;
    height: 192px;
    -webkit-animation: webkit-heroimage .7s 1 linear; 
    -moz-animation: moz-heroimage .7s 1 linear;
    -o-animation: o-heroimage .7s 1 linear;
    animation: heroimage .7s 1 linear;
}

@keyframes heroimage {
    0% {
        width: 192px;
        height: 192px;
    }
    50% {
        width: 212px;
        height: 212px;
    }
    100% {
        width: 192px;
        height: 192px;
    }
}

/* Design & Project Section */
.despro {
    background-color: var(--bg-color-two);
    -webkit-animation: webkit-despro 2s 1 linear; 
    -moz-animation: moz-despro 2s 1 linear;
    -o-animation: o-despro 2s 1 linear;
    animation: despro 2s 1 linear;
}

@keyframes despro {
    0% {
        max-height: 0;
    }
    100% {
        max-height: 200rem;
    }
}

.despro-wrap {
    border: 1rem solid var(--bg-color-three);
    border-radius: .5rem;
    overflow: hidden;
    -webkit-animation: webkit-desprowrap 1.6s 1 linear; 
    -moz-animation: moz-desprowrap 1.6s 1 linear;
    -o-animation: o-desprowrap 1.6s 1 linear;
    animation: desprowrap 1.6s 1 linear;
}

@keyframes desprowrap {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.despro-wrap img {
    -webkit-transition: transform 1s ease-out;
    -moz-transition: transform 1s ease-out;
    -o-transition: transform 1s ease-out;
    transition: transform 1s ease-out;
    height: 100%;
    width: 100%;
}

.despro-wrap:hover img {
    transform: scale(1.2);
}

.despro-link-box {
    background-color: rgba(33, 43, 49, .4);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}

.despro-link-box:hover {
    background-color: rgba(33, 43, 49, .8);
}

.despro-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.despro-link a {
    background-color: var(--color-one);
    border-radius: .5rem;
    padding: .5rem 1rem;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}

.despro-link:hover a {
    color: var(--text-normal);
    background-color: var(--color-two);
}

/* Quote section */
.home-quote {
    background-color: var(--bg-color-three);
    color: var(--text-normal);
}

.home-quote a {
    color: var(--text-normal);
    text-decoration: underline .2rem;
    transition: text-decoration-color .2s;
}

.home-quote a:hover {
    text-decoration: underline .2rem var(--color-one) !important;
}

.home-quote blockquote p::before {
    font: 1.8rem/1.8rem Georgia, serif;
    padding: 0 .4rem;
    content: open-quote;
}

.home-quote blockquote p::after {
    font: 1.8rem/1.8rem Georgia, serif;
    padding: 0 .4rem;
    content: close-quote;
}

.home-quote blockquote p:first-child {
    font-size: 1.5rem;
}

.home-quote blockquote p:not(:first-child):last-child {
    font-size: .8rem !important;
    padding-top: 1.5rem;
}

.home-quote blockquote p:not(:first-child):last-child::before, .home-quote blockquote p:not(:first-child):last-child::after {
    font: 1rem/1rem Georgia, serif;
    content: "-";
}

/* Postcard */
.postcard-inside {
    background-color: var(--bg-color-two);
}

.postcard-inside:hover {
    background-color: var(--bg-color-two-hover);
}

.postcard-image {
    overflow: hidden;
}
.postcard-image img {
    width: 100%;
    height: auto;
    transition: 1s;
    z-index: 9996;
}

.postcard-inside:hover img {
    transform: scale(1.1);
    transition: 1s;
}

.category-list-card {
    top: 4px;
    right: 4px;
    z-index: 9997;
    width: auto !important;
}

.category-name-card {
    background-color: var(--bg-color-three);
    color: var(--text-normal);
    margin-bottom: 4px;
}

.postcard h2 {
    line-height: 1;
}

.postcard p {
    color: var(--text-normal);
}

.postcard a {
    transition: text-decoration-color .2s;
}

.postcard .stretched-link::after {
    z-index: 9998;
}

.postcard a:hover {
    color: var(--text-normal);
    text-decoration: underline .2rem var(--color-one) !important;
}

.postcard-tag-list, .postcard-tag-list li {
    list-style: none;
    margin: 0;
    padding: 0;
    width: auto;
    gap: 4px;
}

.postcard-tag-list li {
    z-index: 9999;
}

a.postcard-tag {
    background-color: var(--bg-color-one);
    font-size: .9rem;
    padding: .25rem .5rem;
    text-decoration:none !important;
    transition: .2s;
    z-index: 9999;
}

a.postcard-tag:hover {
    background-color: var(--color-two);
    text-decoration: none !important;
    transition: .2s;
}

.postcard-tag::before {
    content: "#";
    user-select: none;
}

.stretched-link {
    text-decoration: none;
    color: var(--text-normal);
}

/* Pagination */
.pagination {
    color: var(--text-normal);
    background-color: var(--bg-color-two);
    border-radius: .25rem;
    display: inline-block;
    padding: .5rem .75rem;
    text-decoration: none;
}

.pagination:hover {
    color: var(--text-normal);
    background-color: var(--color-two);
}

.tag-title::before {
    content: "#";
}

.error-404 {
    color: var(--text-normal);
}

/* Post Section */
.wa-post p {
    color: var(--text-normal);
    font-size: 1.1rem !important;
    line-height: 2.4rem;
    margin-bottom: 2.5rem !important;
}

.post-title {
    background: var(--bg-color-three);
    min-height: 300px;
}

.post-title-header {
    padding: 0 1rem;
}

.post-title-header h1 {
    color: var(--text-normal);
    font-weight: 800;
    margin-bottom: 1rem;
}

.post-title-header p {
    font-size: 1rem !important;
    line-height: 1.5rem;
    margin-bottom: 0 !important;
}

.post-title-header p span {
    margin: 0 0.5rem;
}

.post-title-header p .post-tag-list a {
    color: var(--text-normal);
    text-decoration: underline .15rem var(--text-normal);
    transition: text-decoration-color .2s;
}

.post-tag-list {
    margin: 0 0 0 .25rem !important;
}

.post-tag-list a::before {
    content: "#";
}

.post-tag-list a:hover {
    text-decoration-color: var(--color-one) !important;
}

.wa-post-article {
    color: var(--text-normal);
}

.wa-post-article-box {
    margin: 0 auto;
    max-width: var(--content-width);
}

.wa-post-article p {
    margin: 0 auto 2.5rem !important;
}

.wa-post-article h2,
.wa-post-article h3,
.wa-post-article h4,
.wa-post-article h5,
.wa-post-article h6 {
    background: var(--bg-color-three);
    border-radius: 0.25rem;
    color: var(--text-normal);
    margin: 0 auto 2rem;
    padding: 1rem;
}

.wa-post-article pre {
    color: var(--text-normal);
    font-size: 1.1rem !important;
}

.wa-post-article p code {
    background-color: var(--bg-color-two);
    border-radius: .5rem;
    color: var(--color-one);
    font-size: 1rem;
    padding: .5rem;
}

.wa-post-article ol, .wa-post-article ul {
    font-size: 1.1rem;
    margin: 0 auto 2.5rem;
}

.wa-post-article ol li, .wa-post-article ul li {
    color: var(--text-normal);
    line-height: 2.4rem;
}

.wa-post-article a {
    color: var(--text-normal);
    font-weight: 500;
    text-decoration: underline .2rem var(--color-one);
    transition: text-decoration-color .2s;
}

.wa-post-article a:hover {
    text-decoration: underline .375rem var(--color-one);
}

.wa-post-article figure {
    margin: 0 auto 2.5rem;
}

.wa-post-article figure img {
    width: 100%;
    height: auto;
}

.wa-post-article blockquote {
    background-color: var(--bg-color-two);
    border-radius: .5rem;
    margin: 0 auto 2.5rem;
    padding: 1rem;
    text-align: center;
}

.wa-post-article blockquote p {
    line-height: 2rem;
    margin-bottom: 0 !important;
    max-width: 100%;
}

.wa-post-article blockquote p::before {
    font: 1.8rem/1.8rem Georgia, serif;
    padding: 0 .4rem;
    content: open-quote;
}

.wa-post-article blockquote p::after {
    font: 1.8rem/1.8rem Georgia, serif;
    padding: 0 .4rem;
    content: close-quote;
}

.wa-post-article blockquote p:not(:first-child):last-child {
    color: var(--text-muted) !important;
    font-size: .8rem !important;
    font-style: italic;
    font-weight: 500;
    padding-top: 1.5rem;
    text-align: right;
}

.wa-post-article blockquote p:not(:first-child):last-child::before, .wa-post blockquote p:not(:first-child):last-child::after {
    font: 1rem/1rem Georgia, serif;
    content: "-";
}

.wa-post-article .youtube {
    margin: 0 auto 2.5rem;
}

.wa-post-article .twitter-tweet {
    margin: 0 auto 2rem !important;
}

/* For Highlighting Code Block */
.wa-post-article .hcb_wrap {
    margin: 0rem auto 2rem !important;
    word-wrap: break-word;
}

.wa-post-article .hcb_wrap .hcb-clipboard {
    background-color: var(--color-one) !important;
    width: 40px !important;
    height: 40px !important;
}

.wa-post-article .hcb_wrap .hcb-clipboard.-done::before {
    color: var(--text-normal);
    font-size: 1.1rem !important;
}

.wa-post-article .hcb_wrap pre, .wa-post .hcb_wrap code {
    background-color: var(--bg-color-two) !important;
}

.wa-post-article .hcb_wrap pre {
    padding: 2.5rem 1.5rem 1.5rem !important;
}

.hcb_wrap pre::-webkit-scrollbar {
    height: 10px !important;
}

.hcb_wrap pre::-webkit-scrollbar-track {
    background-color: var(--bg-color-two) !important;
}

.hcb_wrap pre::-webkit-scrollbar-thumb {
    background-color: var(--color-one) !important;
    border-radius: 1rem;
}

.hcb_wrap pre::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-two) !important;
}

/* Footer */
.wa-footer {
    background-color: var(--bg-color-two);
    color: var(--text-normal);
}

.wa-footer a {
    color: var(--text-normal);
    text-decoration: none;
}

.wa-footer a:hover {
    text-decoration: underline;
}

.wa-footer .social {
    min-height: 42px;
}

.wa-footer .social a:hover {
    padding-bottom: .5rem !important;
    padding-top: 0 !important;
}

.wa-footer i {
    transition: .2s;
}

.wa-footer i:hover {
    color: var(--color-one);
    transition: .2s;
}

.wa-footer .small-text {
    font-size: .875rem;
}

.theme-version {
    transition: text-decoration-color .2s;
}

.theme-version:hover {
    text-decoration: underline .1rem var(--color-one) !important;
}

/* Responsive */
@media (max-width: 576px) {
    .dropdown-menu input {
        min-width: 180px;
    }

    .cosmetic-box {
        height: 50px;
    }
    
    .wa-post p,
    .wa-post blockquote p,
    .wa-post-article ol li,
    .wa-post-article ul li {
        font-size: 1rem !important;
        line-height: 1.75rem !important;
    }
    
    .wa-post-article .hcb_wrap pre {
        font-size: 1rem !important;
    }

    .wa-post-article h2,
    .wa-post-article h3,
    .wa-post-article h4,
    .wa-post-article h5,
    .wa-post-article h6,
    .wa-post-article p,
    .wa-post blockquote,
    .wa-post figure,
    .wa-post-article ol,
    .wa-post-article ul,
    .youtube,
    .wa-post .hcb_wrap {
        margin: 0 auto 1.5rem !important;
    }
}

@media (min-width: 576px) {
    .cosmetic-box {
        height: 58px;
    }
}

@media (min-width: 768px) {
    .cosmetic-box {
        height: 70px;
    }
}

@media (min-width: 992px) {
    .cosmetic-box {
        height: 80px;
    }
}

@media (min-width: 1200px) {
    .cosmetic-box {
        height: 95px;
    }
}

@media (min-width: 1400px) {
    .cosmetic-box {
        height: 110px;
    }
}

@media (min-width: 1800px) {
    .cosmetic-box {
        height: 132px;
    }
}

@media (min-width: 2200px) {
    .cosmetic-box {
        height: 160px;
    }
}

@media (min-width: 2600px) {
    .cosmetic-box {
        height: 260px;
    }
}